/* CareerComponent.module.css */
.careerComponent {
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    position: relative;
    padding-left: 8%;
    padding-right: 8%;
}

.maxWidth {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.position {
    border-radius: 8px;
    color: white;
}

.number {
    font-size: 4rem;
    font-weight: bold;
    color: #FB923C;
    text-align: left;
    margin-bottom: 1rem;
}

.positionTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.dates {
    font-size: 1rem;
    color: #D1D5DB;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.125rem;
    color: #9CA3AF;
}

.ctaLink {
    padding-top: 8rem;;
}

@media (max-width: 1500px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .ctaLink {
        padding-top: 4rem;
    }


    .position {
        padding: 0rem;
    }

    .title {
        font-size: 1.5rem; /* Smaller header size on smaller screens */
        text-align: left;
    }

    .number {
        font-size: 2rem; /* Smaller title font size for columns */
    }

    .description {
        font-size: 0.875rem;
    }
}
