/* CareerComponent.module.css */
.careerComponent {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    position: relative;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.position {
    padding: 2rem;
    border-radius: 8px;
    color: white;
}

.number {
    font-size: 4rem;
    font-weight: bold;
    color: #FB923C;
    text-align: left;
    margin-bottom: 1rem;
}

.positionTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.dates {
    font-size: 1rem;
    color: #D1D5DB;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.125rem;
    color: #9CA3AF;
}

.ctaLink {
    padding: 2rem;
    margin-top: 2rem;
}

@media (max-width: 1500px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        gap: 0px;
    }
}
