.container {
    display: flex;
    flex-direction: row; /* Default to column on small screens */
    gap: 4rem;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    position: relative;
    width: 90vw; /* Ensure the container takes up full width */
    box-sizing: border-box; /* To avoid padding overflow */
}

.maxWidth {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1rem;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.introduction,
.cvOverview,
.opportunities {
    font-size: 1.1rem;
    font-weight: bold;
    color: #b1b1b1;
}

.linksContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.imageContainer {
    width: 40%; /* Default to 60% width on larger screens */
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
}

.caption {
    color: #e4e4e4;
}

.profileImage {
    width: 100%; /* Full width of the container */
    height: auto;
    max-width: 100%; /* Allow the image to grow and shrink with container */
}

.linksSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    gap: 1rem;
}

/* Responsive Layout for larger screens (min-width: 1400px) */
@media (min-width: 1400px) {
    .container {
        justify-content: space-between; /* Maximize space between the text and image */
        gap: 5rem; /* Increase gap between elements */
    }
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column; /* Stack content vertically on medium screens */
        justify-content: flex-start;
        gap: 3rem; /* Reduce gap on medium screens */
        padding-left: 20px;
        padding-right: 20px;
    }

    .textContainer,
    .imageContainer {
        width: 100%; /* Both text and image take up 100% width on medium screens */
        align-self: flex-start;
    }
}

/* Responsive Layout for small screens (max-width: 768px) */
@media (max-width: 768px) {
    .container {
        gap: 2rem; /* Further reduce gap on small screens */
    }

    .introduction,
    .cvOverview,
    .caption,
    .opportunities {
        font-size: 0.875rem; /* Smaller description font size */
    }
}

/* Responsive Layout for very small screens (max-width: 480px) */
@media (max-width: 480px) {
    .title {
        font-size: 1.5rem; /* Further reduce font size */
    }

    .textContainer,
    .imageContainer {
        width: 100%; /* Stack both elements at 100% width */
    }

    .profileImage {
        max-width: 400px; /* Limit max width of the image */
    }
}
