.container {
    justify-content: space-between; /* Space between text and image */
    padding-top: 100px;
    padding-left: 8%;
    padding-right: 8%;
    margin: 0 auto;
    position: relative;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left; /* Align text to the left */
}

.imageContainer {
    flex: 1; /* Allow the image container to grow */
    display: flex;
    justify-content: flex-end; /* Align image to the right */
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
}

.maxWidth {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row; /* Default to row */
    align-items: center;
    gap: 5rem; /* Space between text and image */
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: white;
}

.introduction,
.cvOverview,
.opportunities {
    font-size: 1.1rem;
    color: #b1b1b1;
}

.linksContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.caption {
    color: #e4e4e4;
}

.profileImage {
    width: 100%; /* Full width of the container */
    height: auto;
    max-width: 100%; /* Allow the image to grow and shrink with container */
    border-radius: 10px;
}

.linksSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    gap: 1rem;
}

/* Responsive Layout for larger screens (min-width: 1400px) */
@media (min-width: 1400px) {
    .maxWidth {
        justify-content: space-between; /* Maximize space between the text and image */
        gap: auto; /* Automatically fill the remaining space */
    }
}

@media (max-width: 1024px) {
    .maxWidth {
        flex-direction: column; /* Stack content vertically on medium screens */
        gap: 2rem; /* Add some spacing for stacked layout */
    }

    .textContainer,
    .imageContainer {
        width: 100%; /* Both text and image take up 100% width on medium screens */
        align-self: flex-start;
    }
}

/* Responsive Layout for small screens (max-width: 768px) */
@media (max-width: 768px) {
    .container {
        gap: 2rem; /* Further reduce gap on small screens */
    }

    .introduction,
    .cvOverview,
    .caption,
    .opportunities {
        font-size: 0.875rem; /* Smaller description font size */
    }
}

/* Responsive Layout for very small screens (max-width: 480px) */
@media (max-width: 480px) {
    .title {
        font-size: 1.5rem; /* Further reduce font size */
    }

    .textContainer,
    .imageContainer {
        width: 100%; /* Stack both elements at 100% width */
        margin-top: 20px;
    }

    .profileImage {
        max-width: 400px; /* Limit max width of the image */
    }
}
