/* Original and updated CSS */

.projectsComponent {
    display: flex;
    min-height: 100vh;
    align-items: flex-start; /* Left-align items */
    justify-content: center;
    position: relative;
    color: rgb(230, 230, 230);
    padding: 0 20px; /* Adjust padding */
    gap: 20px; /* Reduce gap */
    flex-direction: column; /* Stack vertically */
}

.largeText {
    margin-left: 80px;
    font-size: 7rem;
    font-weight: bold;
    text-align: left;
    opacity: 0;
    letter-spacing: 5px;
    margin-bottom: 30px;
    align-self: flex-start; /* Align to left */
}

.largeText.fadeIn {
    animation: fadeIn 2s ease forwards;
}

.teaserTextContainer {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    color: rgba(230, 230, 230);
    gap: 20px; /* Gap between text sections */
    align-items: flex-start; /* Left-align container */
}

.teaserText {
    max-width: 90%; /* Fit within screen width */
    text-align: left;
    opacity: 0;
    font-size: 1.0rem;
    line-height: 1.6;
}

.teaserTextContainer.fadeIn {
    animation: fadeIn 2s ease forwards;
}

.invitation {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.3rem;
    color: rgba(253, 253, 253);
}

.showMoreBtn {
    margin-top: 30px;
    padding: 6px 10px;
    border: 2px solid white;
    background-color: transparent;
    color: rgba(253, 253, 253);
    cursor: pointer;
    width: max-content;
    transition: background-color 0.3s, color 0.3s;
}

.showMoreBtn:hover {
    background-color: rgba(253, 253, 253);
    color: black;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px); /* Initial position (bottom) */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Final position (in place) */
    }
}

@media (max-width: 640px) {
    .largeText {
        font-size: 2.1rem;
        letter-spacing: 2px;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 100px;
    }

    .teaserTextContainer {
        margin-left: 25px;
        margin-right: 25px;
    }

    .teaserText {
        font-size: 0.8rem;
    }
    
    .invitation {
        font-size: 1.0rem;

    }

    .showMoreBtn {
        margin-bottom: 100px;
    }
}