/* ProjectsComponent.module.css */

.projectsComponent {
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    color: rgb(230, 230, 230);
    padding: 0 20px;
    gap: 20px;
    flex-direction: column;
}

.largeText {
    margin-left: 80px;
    font-size: 7rem;
    font-weight: bold;
    text-align: left;
    opacity: 0;
    letter-spacing: 5px;
    margin-bottom: 30px;
    align-self: flex-start;
    transform: translateY(50px); /* Initial off-screen position */
}

.teaserTextContainer {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    transform: translateY(50px); /* Initial off-screen position */
}

.invitation {
    font-weight: bold;
    font-size: 1.6rem;
    color: rgba(253, 253, 253);
    opacity: 0; /* Start hidden */
}

.teaserText {
    font-size: 1.3rem;
    opacity: 0; /* Start hidden */
    color: rgb(230, 230, 230);
}

.showMoreBtn {
    margin-top: 30px;
    padding: 6px 10px;
    border: 2px solid white;
    background-color: transparent;
    color: rgba(253, 253, 253);
    cursor: pointer;
    width: max-content;
    transition: background-color 0.3s, color 0.3s;
    opacity: 0; /* Start hidden */
}

.showMoreBtn:hover {
    background-color: rgba(253, 253, 253);
    color: black;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeIn {
    animation: fadeIn 0.5s ease-out forwards;
}

/* Delay classes for each child */
.delay-1 {
    animation-delay: 0.1s; /* 100ms delay */
}

.delay-2 {
    animation-delay: 0.3s; /* 300ms delay */
}

.delay-3 {
    animation-delay: 0.5s; /* 500ms delay */
}

.delay-btn {
    animation-delay: 0.7s; /* 700ms delay */
}

/* Responsive styling for smaller screens */
@media (max-width: 1000px) {
    .largeText {
        font-size: 3.6rem;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 100px;
    }

    .invitation {
        font-size: 1.0em;
    }

    .teaserTextContainer {
        margin-left: 60px;
        margin-right: 60px;
        gap: 70px
    }

    .teaserText {
        font-size: 0.9em;
    }

    .showMoreBtn {
        margin-bottom: 100px;
    }
}

@media (max-width: 640px) {
    .largeText {
        font-size: 2.1rem;
        letter-spacing: 2px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 0px;
    }

    .teaserTextContainer {
        margin-left: 25px;
        margin-right: 25px;
    }

    .teaserText {
        font-size: 0.9em; /* Adjust font size for smaller screens */
        letter-spacing: 1px; /* Maintain letter spacing */
    }

    .invitation {
        font-size: 1.0rem;
    }

    .showMoreBtn {
        margin-bottom: 100px;
    }
}
