.welcomeComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  transition: background-color 2s ease, background-image 2s ease;
  /* Add background animation on light up */
}

/* Flicker Text Styling with responsive font size */
.flickerText {
  font-size: 16.5vw;
  max-width: 90vw;
  color: #fff;
  gap: 2vw;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

/* Flicker Effect for Each Letter */
.flickerText span {
  display: inline-block;
  opacity: 0;
  animation: flicker-animation 1s ease-in-out forwards;
  text-align: center;
  /* Center text within span */
  line-height: 1;
  /* Center text vertically within span */
}

/* Hidden state */
.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

/* Visible state */
.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Content Styling */
.content {
  text-align: center;
  padding: 20px;
}

.lightUp {
  background-color: #141414;
}

@keyframes flicker-animation {
  0% {
    opacity: 0.1;
  }

  10% {
    opacity: 0.5;
  }

  20% {
    opacity: 0.4;
  }

  30% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.2;
  }

  60% {
    opacity: 0.8;
  }

  70% {
    opacity: 0.3;
  }

  80% {
    opacity: 0.7;
  }

  90% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.waveFadeIn {
  animation: wave-fade-in 0.4s ease-in-out forwards;
}

@keyframes wave-fade-in {
  0% {
    opacity: 0;
    clip-path: inset(0 100% 0 0);
    /* Start with text hidden from the left */
  }

  100% {
    opacity: 1;
    clip-path: inset(0 0 0 0);
    /* Reveal the text fully */
  }
}

@media (max-width: 640px) {
  .flickerText {
    font-size: calc(9vh + 10px);
    /* Adjust font size based on viewport height */
    font-weight: 400;
    flex-direction: column-reverse;
    position: absolute;
    top: calc(var(--vh, 1vh) * 50);
    /* Center to 50% of visible viewport */
    right: 0;
    margin-right: 10px;
    transform: translateY(-50%);
    /* Adjust to vertically center */
    transition: top 0.5s ease, transform 0.5s ease;
    /* Smooth transition for centering */
    padding-bottom: 60px;
    /* Ensure some padding from the bottom */
  }

  .flickerText span {
    transform: rotate(270deg);
    display: block;
    width: 100%;
    /* Span takes full width on small screens */
    height: 100%;
    /* Span takes full height */
    align-items: center;
    /* Center content within each letter box */
    display: flex;
    /* Make span flex container */
    justify-content: center;
    /* Center horizontally */
  }

  /* Adjust centering based on available space above navbar */
  .welcomeComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 2s ease, background-image 2s ease;
    /* Add background animation on light up */
    height: 100vh;
  }

  /* Media Query for Smaller Screens */
  .particle {
    background: rgba(255, 255, 255, 0.5);
    /* Slightly transparent for smaller screens */
  }
}

/* Particle Effect */
.particle {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  pointer-events: none;
  animation: particleAnimation infinite;
  z-index: 1;
}

.particleContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@keyframes particleAnimation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(100vw, 100vh);
    opacity: 0;
  }
}

.locked {
  pointer-events: none;
}