/* Importing Google Fonts */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset and base styles (global) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  /* Removed height: 100% to allow the body to expand based on content */
  /* height: 100%; */
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color:#28292c;
  color: #fff;
}

body {
  min-height: 100vh; /* This ensures the body occupies at least the full viewport height */
}

:root {
  --accent-color-green-dark: #003135;
  --accent-color-green-light: #024950;
  --accent-color-blue-dark: #0FA4AF;
  --accent-color-blue-light: #AFDDE5;
  --accent-color-rust: #964734;
}

/*   background-color:#242424;
 */