/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Hind:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Hind:wght@300;400;500;600;700&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset and base styles (global) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  /* Removed height: 100% to allow the body to expand based on content */
  /* height: 100%; */
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  background-color:#28292c;
  color: #fff;
}

body {
  min-height: 100vh; /* This ensures the body occupies at least the full viewport height */
}

/*   background-color:#242424;
 */