.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.line {
    flex: 1; /* Allows the line to take up available space */
    height: 1px; /* Thickness of the line */
    background-color: #ccc; /* Color of the line */
    margin: 0 10px; /* Space between the line and the text */
}
