/* PageHeader.module.css */

.header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    color: rgb(216, 216, 216);
    transition: transform 1s ease-out, opacity 0.4s ease-out;
    overflow: hidden; /* Prevents content overflow */
}

.headerTop {
    top: -12px; /* Move it 20px up */
}

.headerBottom {
    bottom: 12px;
}

.show {
    opacity: 1;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

/* Split animation for text */
.header h1 {
    animation: split 1s ease forwards;
    margin-left: 5px;
    margin-right: 5px;
}

@keyframes split {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
    }
}

@media (max-width: 640px) {
    .header {
        font-size: 14px;
    }
}
