.nav {
  position: fixed;
  top: 45%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 80;
  align-items: center;
  transition: opacity 0.5s ease, transform 0.5s ease, top 0.5s ease; /* Smooth transition */
}

.nav.show {
  opacity: 1;
  transform: translateX(0);
}

.nav.hide {
  opacity: 0;
  transform: translateX(-100%); /* Move off-screen to the left */
}

.navItem:hover,
.navItem.active {
  color: #c5c5c5; /* Highlight color for active section */
}

.navItem {
  font-size: 20px;
  color: rgb(78, 78, 78);
  cursor: pointer;
  transition: color 0.3s ease;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 640px) {
  .nav {
    left: 7px;
    gap: 3px;
  }
  .navItem {
    font-size: 18px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.9;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.flicker {
  animation: flicker 0.4s ease-in-out;
}
