.introContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    color: white;
    position: relative;
    padding-bottom: 150px;
  }
  
  .sectionTitle h2 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    padding-top: 120px;
  }

  .careerContainer {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 90%;
    max-width: 1200px;
  }
  
  .careerItem {
    display: flex;
    flex-direction: row;
    background-color: #313131;
    gap: 2rem;
    padding: 40px;
  }

  .number {
    font-size: 4rem;
    font-weight: bold;
    color: #FB923C;
    text-align: left;
}
  .imageContainer {
    flex: 1;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .companyImage {
    width: 100%;
    height: auto;
    max-width: 120px;
  }
  
  .infoContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .careerTitle {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .companyName {
    font-size: 1.5rem;
    font-weight: normal;
    color: #f1f1f1;
  }
  
  .dates {
    font-size: 1.25rem;
    color: #9e9e9e;
  }
  
  .description {
    font-size: 1.125rem;
    color: #e0e0e0;
    line-height: 1.6;
  }
  
  .detailsList {
    margin-top: 20px;
    padding-left: 20px;
  }
  
  .detailItem {
    margin-bottom: 10px;
    list-style-type: disc;
  }


.link, .location {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.3rem;
  }
  
  .link .icon, .location .icon {
    color: #FB923C; /* Orange color for icons */
    margin-right: 8px;
    font-size: 1.3rem;
  }


.link a, .location a {
    color: white;
    text-decoration: underline;
    text-decoration-color: #FB923C;
    text-underline-offset: 0.25rem;
}

  /* Responsive Design */
  @media (max-width: 1024px) {
    .careerItem {
      flex-direction: column;
      gap: 1.5rem;
    }
  
    .imageContainer {
        display: none;
      }
  
    .careerTitle {
      font-size: 1.5rem;
    }
  
    .companyName {
      font-size: 1.25rem;
    }
  
    .dates {
      font-size: 1rem;
    }
  
    .description {
      font-size: 1.05rem;
    }
  }
  