/* EducationComponent.module.css */
.educationContainer {
    padding: 2rem;
    color: #f5f5f5;
    border-radius: 8px;
    min-height: 100vh;
    position: relative;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .educationList {
    list-style-type: none;
    padding-left: 0;
  }
  
  .educationList li {
    margin-bottom: 1rem;
  }
  
  .degree {
    display: block;
    font-style: italic;
    margin-top: 0.3rem;
  }
  
  .dates {
    display: block;
    font-size: 0.9rem;
    color: #bbb;
  }
