/* PassionsComponent.module.css */
.passionsContainer {
    padding: 2rem;
    color: #f5f5f5;
    border-radius: 8px;
    min-height: 100vh;
    position: relative;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .description {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  
  .passionsList {
    list-style-type: none;
    padding-left: 0;
  }
  
  .passionsList li {
    margin-bottom: 0.5rem;
  }  